<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello World</h2>
    <hr>
    
    {% if request.user.is_authenticated %}
        Hi {{ request.user.username }}
    {% else %}
        Hi anonymous user
    {% endif %}

<p>
    The todo name is: {{ todo.name }} <br>
    The due date is {{ todo.due_date }}
    <p>
        <a href='/{{ todo.id }}/update/'>Update this</a> or
        <a href='/{{ todo.id }}/delete/'>Delete this</a>
    </p>
</p>

</body>
</html>
